html{
    font-size: 16px;
}
body{
    background: #efeff4;
    color: #333;
}

#Back{
    display: none;
    padding: .4rem 1rem;
    background-color: #ff6633;
    color: #fff;
}

/*** List ***/
.menu{
    background: #fff;
}
.menu h1{
    padding: .6rem 1rem;
    font-size: 125%;
}
.menu h2{
    padding: .4rem 1rem;
    background-color: #ff6633;
    border: 1px solid #ee5511;
    text-align: center;
    font-size: 100%;
    color: #fff;
}

.list-card{
    display: block;
    padding: .6rem 1rem;
    border-top: 1px solid #ddd;
}
.list-card:first-child{
    border-top: none;
}
.list-card:hover{
    background-color: #ff6633;
}
.list-card:hover h3, .list-card:hover p{
    color: #fff;
}
.menu-panel h3{
    margin-bottom: .3rem;
    font-size: 100%;
}
.menu-panel p{
    font-size: 80%;
    color: #777;
}

/*** content common ***/
.comp-title{
    padding: 2rem 1rem;
    text-align: center;
}
.comp-type{
    margin-bottom: 1rem;
    padding: .3rem 1rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 100%;
}
.comp-tip{
    padding: .3rem 1rem;
    font-size: 87.5%;
    color: #777;
}

.content-drag{
    position: relative;
}

/*** content example ***/
.content .btn:not(.btn-block),
.content .badge,
.content .label,
.content .star,
.content .multi-group,
.content .label-switch{
    margin: 0 0 1rem 1rem;
}

.content .btn-group .btn:not(.btn-block),
.content .ph-textarea-field,
.content .ui-tabs:not(.vertical){
    margin: 0 0 1rem 0;
}

.content .ph-whisper{
    display: inline-block;
    width: 40%;
    margin: 0 0 1rem 1rem;
    padding: 8px 12px;
    background-color: #fff;
    text-align: center;
}

.content .ui-tabs{
    background-color: #fff;
}

.todo-demo .btn.lg{
    height: 40px;
}

.animate-field>div{
    padding: 12px 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.content .box{
    width: 100px;
    height: 100px;
    background-color: #000;
    line-height: 100px;
    text-align: center;
    color: #fff;
}

.col-demo {
    padding: 5px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #f7f7f7;
    text-align: center
}

/*** 列表页demo ***/
.list-demo{
    padding: .5rem 1rem 0;
    background-color: #fff;
}
.list-item{
    border-bottom: 1px solid #ccc;
}
.row-label .label{
    margin-right: 5px;
}
.row-address{
    font-size: 12px;
    color: #999;
}

/*** 详情页demo ***/
.detail-demo{
    background-color: #fff;
}




