html, body{
    height: 100%;
}

#Back{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: .20rem;
    font-size: .48rem;
    text-align: right;
    color: #fff;
}

#root{
    min-height: 100%;
    /*max-width: 414PX;*/
    margin: 0 auto;
}

::-webkit-scrollbar{  
    width: 0; 
}  

/*** List ***/
.menu{
    position: relative;
    z-index:10;
    background: #fff;
}
.menu header{
    overflow: hidden;
    padding: .4rem 0 .64rem;
    margin-bottom: .32rem;
    background: url(../img/phoenix.jpg) top center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
header h1{
    margin-bottom: .32rem;
    font-size: .48rem;
}
.phoenix-about a{
    padding: 0 .24rem;
    border-right: 1PX solid #fff;
    color: #fff;
}
.phoenix-about a:last-child{
    border-right:none;
}

.menu>h2{
    padding: .08rem .32rem;
    background-color: #ccc;
    font-size: .30rem;
    color: #fff;
}

.menu>h3{
    padding: .16rem .32rem;
    border-top: 1PX solid #e1e1e1;
    border-bottom: 1PX solid #e1e1e1;
    font-size: .28rem;
    color: #999cad;
}

.list-card{
    display: block;
    position: relative;
    margin: 0 .32rem;
    padding: .20rem 0 .20rem .48rem;
    border-bottom: 1PX solid #e1e1e1;
}
.list-card:last-child{
    border-bottom: none;
}
.menu-panel h3{
    margin-bottom: .28rem;
    font-size: .32rem;
}
.menu-panel p{
    font-size: .28rem;
    color: #777;
}
/*** phoenix-styles ***/
.phoenix-styles{
    display: block;
    padding: .20rem .32rem;
}
.phoenix-styles:hover{
    text-decoration: underline;
}

.switch-skin{
    display: inline-block;
    margin: .32rem;
}

/*** content common ***/
.comp-title{
    padding: .16rem;
    background: url(../img/phoenix.jpg) center center;
    background-size: cover;
    font-size: .48rem;
    text-align: center;
    color: #fff;
}
.comp-type{
    padding: .20rem .32rem;
    background-color: #fff;
    border-top: 1PX solid #ddd;
    border-bottom: 1PX solid #ddd;
    font-size: .30rem;
    color: #777;
}
.comp-type:before{
    content: "\e64a";
    display: inline-block;
    margin-right: .20rem;
    font-family:"iconfont" !important;
}
.comp-type a{
    text-decoration: underline;
    color: blue;
}

.comp-tip{
    padding-bottom: .20rem;
    font-size: .30rem;
    color: #999cad;
}

.content-drag{
    position: relative;
}

.code-mark{
    display: inline-block;
    padding: .16rem .32rem;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-size: .30rem;
}

.code-dialog .ph-dialog-content{
    padding: .32rem;
}

.code-dialog .ph-dialog-body.code-body{
    overflow-x: auto;
    margin: .16rem 0;
    text-align: left;
    white-space: pre;
}

/*** content example ***/
.content, .contents{
    padding: .32rem .32rem .16rem;
    background-color: #fff;
}
.content > .ph-button:not(.ph-button-block),
.content .ph-badge,
.content .ph-label,
.content .ph-star,
.content .ph-multi-group,
.content .ph-switch,
.content > .gfs-icon{
    margin: 0 .16rem .16rem 0;
}

.content :not(.ph-button) .gfs-icon{
    display: inline-block;
}

.content .ph-textarea-field,
.content .ph-tabs:not(.vertical),
.content .ph-button-group,
.contents .ph-form-group,
.contents .ph-swipe,
.content code{
    margin: 0 0 .16rem 0;
}

.content .ph-steps,
.content .ph-input{
    margin-bottom: .16rem;
}

.content .ph-tabs{
    background-color: #fff;
}

.content .ph-image{
    width: 4rem;
    height: 4rem;
    background-color: #f0f0f0;
}

.todo-demo .ph-button.ph-button-lg{
    height: .40rem;
    border-radius: 0;
}

.animate-field>div{
    padding: .12rem .32rem;
    background-color: #fff;
    border-bottom: 1PX solid #ddd;
}

.content-drag .box{
    width: 2rem;
    height: 2rem;
    background-color: #000;
    line-height: 2rem;
    text-align: center;
    color: #fff;
}

.col-demo {
    padding: .08rem;
    width: 100%;
    border: 1PX solid #ddd;
    border-radius: 2PX;
    background: #f1f1f1;
    text-align: center
}

.content code{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    padding: .32rem;
    background-color: #fff;
    font-size: .24rem;
}

.ph-loading-list li{
    padding: .32rem;
    margin-top: .32rem;
    background-color: #fff;
}
.ph-loading-list li img{
    width: 100%;
}

::-webkit-scrollbar{
    height: 0;
}

/*** 列表页demo ***/
.list-demo{
    padding: .16rem .32rem 0;
    background-color: #fff;
}
.list-item{
    border-bottom: 1px solid #ccc;
}
.row-label .label{
    margin-right: .08rem;
}
.row-address{
    font-size: 0.24rem;
    color: #999;
}

/*** 详情页demo ***/
.detail-demo{
    background-color: #fff;
}
