html, body{
    height: 100%;
    font-size: 16px;
    font-family: 'Microsoft Yahei';
}
body{
    background: #efeff4;
    color: #333;
}

#Back{
    display: none;
    float: right;
    padding: .4rem 1rem .4rem 1.5rem;
    text-align: right;
    color: #fff;
}

#root{
    min-height: 100%;
    // max-width: 414px;
    margin: 0 auto;
    // border-right: 1px solid #ddd;
    // border-left: 1px solid #ddd;
}

::-webkit-scrollbar{  
    width: 0; 
}  

/*** List ***/
.menu{
    position: relative;
    z-index:10;
    background: #fff;
}
.menu header{
    overflow: hidden;
    height: 8rem;
    margin-bottom: 1rem;
    background: url(../img/phoenix.jpg) center center;
    background-size: cover;
    color: #fff;
}
.menu header>*{
    padding: 2rem 1rem 1rem;
    height: 100%;
}
.left-header{
    float: left;
    width: 60%;
}
.left-header h1{
    margin-bottom: 2rem;
    font-size: 150%;
}
.left-header p{
    font-size: 80%;
    white-space: nowrap;
}
.left-header a{
    text-decoration: underline;
    color: #fff;
}
.right-header{
    float: right;
    width: 40%;
    background-color: rgba(0,0,0,.4);
    text-align: center;
}
.right-header a{
    display: block;
    margin-bottom: 1rem;
    font-size: 87%;
    color: #fff;
}

.menu h2{
    padding: .4rem 1rem;
    // background-color: #ff6633;
    // border: 1px solid #ee5511;
    font-size: 87%;
    color: #999cad;
}

.list-card{
    display: block;
    position: relative;
    margin: 0 1rem;
    padding: .6rem 0 .6rem 1.5rem;
    border-bottom: 1px solid #ddd;
}
.list-card:first-child{
    border-top: 1px solid #ddd;
}
.menu-panel h3{
    margin-bottom: .3rem;
    font-size: 100%;
}
.menu-panel p{
    font-size: 80%;
    color: #777;
}
/*** phoenix-styles ***/
.phoenix-styles{
    display: block;
    padding: .6rem 1rem;
}
.phoenix-styles:hover{
    text-decoration: underline;
}

.switch-skin{
    display: inline-block;
    margin: 1rem;
}

/*** content common ***/
.comp-title{
    padding: 1rem 1rem;
    background: url(../img/phoenix.jpg) center center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.comp-type{
    padding: .4rem 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    font-size: 92%;
    color: #777;
}
.comp-type:before{
    content: "\e64a";
    display: inline-block;
    margin-right: .3rem;
    font-family:"iconfont" !important;
}
.comp-type a{
    text-decoration: underline;
    color: blue;
}

.comp-tip{
    padding-bottom: .4rem;
    font-size: 87.5%;
    color: #999cad;
}

.content-drag{
    position: relative;
}

.code-mark{
    display: inline-block;
    padding: .5rem 1rem;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-size: 87.5%;
}

.code-dialog .ph-dialog-content{
    padding: 1rem;
}

.code-dialog .ph-dialog-body.code-body{
    overflow-x: auto;
    margin: .5rem 0;
    text-align: left;
    white-space: pre;
}

/*** content example ***/
.content, .contents{
    padding: 1rem 1rem .5rem;
    background-color: rgba(255,255,255,.5);
}
.content .ph-button:not(.ph-button-block),
.content .ph-badge,
.content .ph-label,
.content .ph-star,
.content .ph-multi-group,
.content .ph-switch,
.content .gfs-icon{
    margin: 0 .5rem .5rem 0;
}

.content .gfs-icon{
    display: inline-block;
}

.content .ph-textarea-field,
.content .ph-tabs:not(.vertical),
.content .ph-button-group,
.contents .ph-form-group,
.contents .ph-swipe,
.content code{
    margin: 0 0 .5rem 0;
}

.content .ph-button-group .ph-button{
    margin: 0;
}

.content .ph-whisper{
    display: inline-block;
    width: 40%;
    margin: 0 0 1rem 1rem;
    padding: 8px 12px;
    background-color: #fff;
    text-align: center;
}

.content .ph-tabs{
    background-color: #fff;
}

.todo-demo .ph-button.ph-button-lg{
    height: 40px;
    border-radius: 0;
}

.animate-field>div{
    padding: 12px 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.content-drag .box{
    width: 100px;
    height: 100px;
    background-color: #000;
    line-height: 100px;
    text-align: center;
    color: #fff;
}

.col-demo {
    padding: 5px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #f1f1f1;
    text-align: center
}

.content code{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    padding: 1rem;
    background-color: #fff;
    font-size: 67%;
}

.ph-loading-list li{
    padding: 1rem;
    margin-top: 1rem;
    background-color: #fff;
}
.ph-loading-list li img{
    width: 100%;
}

::-webkit-scrollbar{
    height: 0;
}

/*** 列表页demo ***/
.list-demo{
    padding: .5rem 1rem 0;
    background-color: #fff;
}
.list-item{
    border-bottom: 1px solid #ccc;
}
.row-label .label{
    margin-right: 5px;
}
.row-address{
    font-size: 12px;
    color: #999;
}

/*** 详情页demo ***/
.detail-demo{
    background-color: #fff;
}
